<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;">Kamil Hussain's Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      
      <ion-col>

       
        <ion-card style="border-radius: 40%; background-color: #033E3E;">
          <ion-card-header>
            <ion-card-subtitle style="text-align: center;color: blanchedalmond;">Kamil Hussain</ion-card-subtitle>
            <ion-card-title> </ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
      
            <ion-img class="img"  height="auto" max-width="30%" src="../../../assets/kamil_profile.JPG" ></ion-img>
          
          </ion-card-content>
        </ion-card>
        
      </ion-col>
      <ion-col>

      <ion-card style="background-color: #34495E ;">
        <ion-card-content style="font:bold; text-align: center;">
          <p style="font-style: italic; font-weight: bolder; color: #fff;">
            "A Tech Savvy and software developer."
            </p>  <p style="color: #fff;">          
              Skilled in developing various applications using popular Microsoft Technologie and a self taught hybrid mobile application developer."
          </p>
          <p style="color: #fff;">
            Free lancing developer and certified Microsoft Azure cloud developer.
          </p>
        </ion-card-content>
      </ion-card>
        
       
      </ion-col>
      <ion-col>
        <ion-card style="background-color: #1A5276;">
          <ion-card-header>
            <ion-card-subtitle style="color: blanchedalmond;">Technical Skills</ion-card-subtitle>
            <ion-card-title></ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-chip color="light">
              <ion-icon name="logo-microsoft"> </ion-icon>
              <ion-label color="light" style="margin: 5px;">C#.NET</ion-label>
           
            </ion-chip>
            <ion-chip color="light">
              <ion-icon name="globe-outline"> </ion-icon>
              <ion-label color="light" style="margin: 5px;">Asp.NET Core</ion-label>
           
            </ion-chip>
            <ion-chip color="light">
              <ion-icon name="globe"> </ion-icon>
              <ion-label color="light" style="margin: 5px;">MVC</ion-label>
           
            </ion-chip>
            <ion-chip color="light">
              <ion-icon name="logo-microsoft"> </ion-icon>
              <ion-label color="light" style="margin: 5px;">EntityFrameworkCore</ion-label>
           
            </ion-chip>
            <ion-chip color="light">
              <ion-icon name="cloud-outline"> </ion-icon>
              <ion-label color="light" style="margin: 5px;">Azure</ion-label>
           
            </ion-chip>
            <ion-chip color="light">
              <ion-icon name="logo-firebase"> </ion-icon>
              <ion-label color="light" style="margin: 5px;">Google Firebase</ion-label>
           
            </ion-chip>
            <ion-chip color="light">
              <ion-icon name="logo-angular"> </ion-icon>
              <ion-label color="light" style="margin: 5px;">Angular</ion-label>
           
            </ion-chip>
                 
            <ion-chip color="light">
              <ion-icon name="server-outline"> </ion-icon>
              <ion-label color="light" style="margin: 5px;">Sql Server</ion-label>
           
            </ion-chip>

          </ion-card-content>
        </ion-card>
      </ion-col>
      
      <!---Hobbies and Interest-->

      <ion-col>
        <ion-card style="background-color: #7B7D7D;">
          <ion-card-header>
            <ion-card-subtitle style="color: blanchedalmond;">Hobbies & Interest</ion-card-subtitle>
            <ion-card-title></ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-chip color="light">
              <ion-icon name="airplane-outline"> </ion-icon>
              <ion-label color="light" style="margin: 5px;">Travel</ion-label>
           
            </ion-chip>
            <ion-chip color="light">
              <ion-icon name="beer-outline"> </ion-icon>
              <ion-label color="light" style="margin: 5px;">Foods</ion-label>
           
            </ion-chip>
            <ion-chip color="light">
              <ion-icon name="camera"> </ion-icon>
              <ion-label color="light" style="margin: 5px;">Photography</ion-label>
           
            </ion-chip>
            
          </ion-card-content>
        </ion-card>

        <ion-row>
          <ion-col>
            <ion-card style="border-radius: 20%; background-color: #2B547E;">
              <ion-card-header>
              
                <ion-card-subtitle style="color: blanchedalmond; text-align: center;">Academic Achievemnt</ion-card-subtitle>
              </ion-card-header>

              <ion-card-content>
                <p style="font-style: italic; font-weight: bolder; color: #fff;">
                  "District Rank Holder in Higher secondary examination"
                  </p>
                  <p style="font-style: italic; font-weight: bolder; color: #fff;">
                    "Studied Engineering at VIT vellore with merit Scholarship"
                    </p>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>
     
     
      
    </ion-row>
    <!--Connections-->
    <ion-row class="ion-align-items-center">
      <ion-col size="2">

      </ion-col>
      <ion-col  class="ion-align-self-center">
          <ion-card  style="background-color: #033E3E ; border-radius: 20%;">
            <ion-card-header>
              <ion-card-subtitle style="color: blanchedalmond; text-align: center;">Connections</ion-card-subtitle>
              <ion-card-title></ion-card-title>
            </ion-card-header>
            <mat-divider class="mat-div"></mat-divider>
            <ion-card-content style="text-align: center;">
            
              <ion-chip color="light">
                <ion-icon name="logo-facebook"> </ion-icon>
              
              </ion-chip>
              <ion-chip color="light">
                <ion-icon name="logo-github"> </ion-icon>
              
             
              </ion-chip>
              <ion-chip color="light">
                <ion-icon name="logo-instagram"> </ion-icon>
             
              </ion-chip>

              <ion-chip color="light">
                <ion-icon name="logo-linkedin"> </ion-icon>
              
              </ion-chip>
              <ion-chip color="light">
                <ion-icon name="logo-stackoverflow"> </ion-icon>
              
             
              </ion-chip>
              <ion-chip color="light">
                <ion-icon name="logo-twitter"> </ion-icon>
             
              </ion-chip>

              <ion-chip color="light">
                <ion-icon name="logo-whatsapp"></ion-icon>
              </ion-chip>
              <ion-chip color="light">
                <ion-icon name="logo-youtube"> </ion-icon>
              </ion-chip>
            </ion-card-content>
          </ion-card>
      </ion-col>
      <ion-col size="2">

      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
