ion-header ion-toolbar
{
    --background:var(--ion-color-deepteal);
     --color:var(--ion-color-light);
}

ion-card
{
    border-radius: 10%;
}
mat-divider
{
    border:solid;
    --background: var(--ion-color-light);
}

ion-content
{
    --background:#CFECEC;
}