<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;">Certifications</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Azure Developer Assocaite</ion-card-subtitle>
          <ion-card-title>2021-2023</ion-card-title>
        </ion-card-header>
        <ion-img class="img" src="../../../assets/azure.png"  ></ion-img>
        <ion-card-content>
        <a href="https://www.credly.com/badges/b9e2bc2c-4118-4b8d-8a63-d176993dbdf7" target="_blank">
        Credential Link
        </a>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Microsoft Certified C# Developer</ion-card-subtitle>
          <ion-card-title>2018-</ion-card-title>
        </ion-card-header>
        <ion-img class="img" src="../../../assets/exam.png"  ></ion-img>
        <ion-card-content>
          <a href="https://www.credly.com/badges/e280e2f3-a051-42ad-b02dbf46e1806bc5/" target="_blank">
            Credential Link
            </a>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
