<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;">Personal Projects,Works & Internships</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main-card ">

<ion-grid >
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-header>
          <ion-icon name="logo-android"> </ion-icon>
          <ion-card-subtitle>Panaikulam Youngsters</ion-card-subtitle>
          <ion-card-title>A community based android app | 2018 | Active </ion-card-title>
          <ion-img  class="img" src="../../../assets/pnk.png"></ion-img>
        </ion-card-header>
        <ion-card-content>
          <a  href="https://play.google.com/store/apps/details?id=com.nemisis.kasamil" target="_blank" >
          <ion-chip >
            <ion-icon name="logo-google-playstore"> </ion-icon>
            <ion-label  style="margin: 5px;">Play store</ion-label>
         
          </ion-chip>
          </a>
          <mat-divider class="mat-div"></mat-divider>
          <ion-text>Technology Stack</ion-text>
          <ion-chip style="background: #033E3E;color: blanchedalmond;">
            
            <ion-label  style="margin: 5px;">Ionic/Angular/Google Firebase</ion-label>
         
          </ion-chip>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card>
        <ion-card-header>
          <ion-icon name="logo-android"> </ion-icon>
          <ion-card-subtitle>En Ennangal</ion-card-subtitle>
          <ion-card-title>Tamil Poems Application | 2021 | Active </ion-card-title>
          <ion-img  class="img" src="../../../assets/en.png"></ion-img>
        </ion-card-header>
        <ion-card-content>
         <a  href="https://play.google.com/store/apps/details?id=com.kader.kavithaikal" target="_blank" >
          <ion-chip >
            <ion-icon name="logo-google-playstore"> </ion-icon>
            <ion-label  style="margin: 5px;">Play store</ion-label>
         
          </ion-chip>
        </a>
        <mat-divider class="mat-div"></mat-divider>
        <ion-text>Technology Stack</ion-text>
        <ion-chip style="background: #033E3E;color: blanchedalmond;" >
          
          <ion-label  style="margin: 5px;">Ionic/Angular/Google Firebase</ion-label>
       
        </ion-chip>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card>
        <ion-card-header>
          <ion-icon name="logo-android"> </ion-icon>
          <ion-card-subtitle>Pnk Shopping</ion-card-subtitle>
          <ion-card-title>An E-Commerce Application | 2021 | Development </ion-card-title>
          <ion-img  class="img" src="../../../assets/pshop.png"></ion-img>
        </ion-card-header>
        <ion-card-content>
         <a  href="https://github.com/kamil467/pnk-shopping-ionic5" target="_blank" >
          <ion-chip >
            <ion-icon name="logo-github"> </ion-icon>
            <ion-label  style="margin: 5px;">GitHub</ion-label>
         
          </ion-chip>
        </a>
        <mat-divider class="mat-div"></mat-divider>
        <ion-text>Technology Stack</ion-text>
        <ion-chip style="background: #033E3E;color: blanchedalmond;">
          
          <ion-label  style="margin: 5px;">Ionic/Angular/Google Firebase</ion-label>
       
        </ion-chip>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col >
      <ion-card>
        <ion-card-header>
          <ion-icon name="logo-android"> </ion-icon>
          <ion-card-subtitle>Mee Food Service</ion-card-subtitle>
          <ion-card-title>Food Delivery Application | 2021 | Planned </ion-card-title>
          <ion-img  class="img" src="../../../assets/fd.jpg"></ion-img>
        </ion-card-header>
        <ion-card-content>
         <a  href="https://github.com/kamil467/Food-Delivery-App" target="_blank" >
          <ion-chip >
            <ion-icon name="logo-github"> </ion-icon>
            <ion-label  style="margin: 5px;">GitHub</ion-label>
         
          </ion-chip>
        </a>
        <mat-divider class="mat-div"></mat-divider>
        <ion-text>Technology Stack</ion-text>
        <ion-chip style="background: #033E3E;color: blanchedalmond;">
          
          <ion-label  >Ionic / Angular / Google Firebase </ion-label>
       <ion-label> Asp.NET Core / SQL Server</ion-label>
        </ion-chip>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col >
      <ion-card>
        <ion-card-header>
          <ion-icon name="business"> </ion-icon>
          <ion-card-subtitle>Internship</ion-card-subtitle>
          <ion-card-title>BOM Costing Configuration in FlexPLM | 2015 | Infosys </ion-card-title>
          <ion-img  class="img" src="../../../assets/infy.jpg"></ion-img>
        </ion-card-header>
        <ion-card-content>
          <ion-chip >
           
            <ion-label  style="margin: 5px;">Certificate Provided by Infosys</ion-label>
          </ion-chip>
        <mat-divider class="mat-div"></mat-divider>
        <ion-text>Technology Stack</ion-text>
        <ion-chip style="background: #033E3E;color: blanchedalmond;">
          <ion-label  >FlexPLM / JAVA / Oracle Database  </ion-label>
        </ion-chip>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>

</div>



</ion-content>
